* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --url-img: url(./assets/assets/bg-mobile.jpg);
  --strol-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgb(255, 255, 255, 0.05);
  --surface-color-hover: rgb(255, 255, 255, 0.02);
  --hightligth_color: rgb(255, 255, 255, 0.2);
  --bg-bottom: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: #000000;
  --url-img: url(./assets/assets/bg-mobile-light.jpg);
  --strol-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgb(0, 0, 0, 0.05);
  --surface-color-hover: rgb(0, 0, 0, 0.1);
  --hightligth_color: rgb(0, 0, 0, 0.1);
  --bg-bottom: url(./assets/assets/sun.svg);
}

body {
  /*background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  /* background: color image repeat position/sizer*/
  background: var(--url-img) no-repeat top center / cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;*/
  margin: 56px auto 0px auto;
  padding-top: 56px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  transition: all 1s;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: #ffffff var(--bg-bottom) no-repeat center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  cursor: pointer;
  outline: var(--hightligth_color) 8px solid;
  transition: all 1s;
}

.light #switch button {
  animation: slide-back 0.3s forwards;
}

#switch span {
  display: flex;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--strol-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background-color: var(--surface-color);
  border: 1px solid var(--strol-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;

  font-weight: 500;

  /*transition: cubic-bezier(0.1,0.09, 0.08, 0.05) 0.5s;*/
  /*transition: background 2s;*/
  transition: all 1s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#social_links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap: 16px;
  font-size: 24px;
}

#social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  transition: background 0.5s;
  border-radius: 50%;
}

#social_links a:hover {
  background: var(--hightligth_color);
}

footer {
  text-align: center;
  padding: 24px 0;
}

@media (min-width: 700px) {
  :root {
    --url-img: url(./assets/assets/bg-desktop.jpg);
  }
  
  .light {
    --url-img: url(./assets/assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
